.personal-account-changing-password {
  margin-top: 35px;
  max-width: 460px;

  &-input {
    &__container {
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__submit {
    margin-top: 26px;
    width: 100%;
  }
}