.dt-form {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--bs-gutter-y) * -1);
    width: 100%;

    & > * {
        flex-shrink: 0;
        margin-top: var(--bs-gutter-y);
        padding-left: 5px;
        padding-right: 5px;
    }

    &.bordered {
        gap: 0 !important;
        padding: 0 !important;

        & > * {
            padding: 0;
            border: 1px solid #e5e6e6;
        }
    }
}

.dt-page {
    margin-top: -35px;
}

.dt-block-header {
    padding-top: 81px;
    padding-bottom: 40px;
}

.dt-wrapper-gradient {
    background: linear-gradient(to top, $color-black, transparent);
    opacity: 0.75;
    height: 100%;
    width: 100%;
}

.color-black {
    color: $color-black !important;
}

.text-muted-black {
    color: $color-black !important;
    opacity: 0.4;
}

.text-muted-white {
    color: $color-white !important;
    opacity: 0.5;
}

.dt-main-text-thin {
    font-family: $font-family-thin;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 26px;
}

.dt-content--bottom-60 {
    margin-bottom: 60px;
}

.dt-check__label--thin {
    font-family: $font-family-thin;
}

.dt-font--size-12 {
    font-size: 12px;
}

.dt-bg-light-gray {
    background: $color-light-gray;
}

.dt-bg-red {
    background: $color-red !important;
}

.dt-icon {
    &--width-20 {
        width: 20px;
    }
}

@media screen and (max-width: 320px) {
    #app {
        width: 320px;
    }

}

@media screen and (max-width: 768px) {
    .dt-page {
        margin-top: -105px;
    }

    .dt-block-header {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .dt-main-text-thin {
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 568px) {

}

h1 {
    font-size: 30px;
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    margin-bottom: 0;
}

h4 {
    font-size: 16px;
    margin-bottom: 0;
}

h5 {
    font-size: 12px;
    margin-bottom: 0;
}

h6 {
    font-size: 10px;
    margin-bottom: 0;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.fw-bold {
    font-family: $font-family-bold !important;;
}

.fw-semibold {
    font-family: $font-family-semibold !important;;
}

.fw-thin {
    font-family: $font-family-thin !important;;
}

.fw-regular {
    font-family: $font-family-regular !important;
}

.text-muted {
    color: $color-light-black !important;
}

.dt-page {
    &__breadcrumbs {
        //padding-top: 40px;
        padding-bottom: 80px;
        //opacity: 40%;

        & .breadcrumb-item > a {
            color: rgba(34, 36, 37, 0.6) !important;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;
            line-height: 20px;
            font-size: 10px;
            font-family: $font-family-regular;
        }
    }
}

.breadcrumbs__links-white {
    opacity: 100%;

    & .breadcrumb-item > a.breadcrumb-link {
        color: $color-white !important;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 10px;
        letter-spacing: 2px;
    }
}

.dt-font--size-12 {
    font-size: 12px !important;
}

.dt-wrapper--black-50 {
    background: $color-black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.dt-wrapper--black-70 {
    background: $color-black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.dt-text-muted--white-50 {
    color: $color-white-50;
}

.dt-none-link--white-50:hover {
    color: $color-white-50;
}

.dt-link-filter--hover-blue {
    font-size: 12px !important;
    border-bottom: 1px solid $color-light-gray-link !important;
    font-family: $font-family-regular;

    &:hover {
        border-bottom-color: $color-blue !important;
        color: inherit;
    }
}

.dt-link-filter--hover-red {
    font-size: 12px !important;
    border-bottom: 1px solid $color-light-red-link !important;
    font-family: $font-family-regular;

    &:hover {
        border-bottom-color: $color-red !important;
        color: inherit;
    }
}

.dt-link--thin-12 {
    font-size: 12px;
    font-family: $font-family-thin;
}

.dt-arrow-right::after {
    content: "â¯";
    color: $color-blue;
}

.personal-account {
    & svg {
        fill: $color-blue;
    }

    input[type="checkbox"] {
        display: none;
    }
}

.label-for-input {
    font-size: 12px;
    font-family: $font-family-thin;
}

.dt-text--regular {
    font-size: 14px;
    font-family: $font-family-regular;
    letter-spacing: 0.25px;
}

button {
    height: 70px !important;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px !important;
    }

    h3 {
        //font-size: 12px !important;
        font-size: 18px;
    }

    h4 {
        font-size: 14px !important;
    }

    h5 {
        font-size: 10px !important;
    }
    .breadcrumbs__links-white {
        opacity: 100%;

        & .breadcrumb {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 767.88px) {
    .dt-page {
        &__breadcrumbs {
            padding-bottom: 30px;

            & .breadcrumb-item > a {
                font-size: 8px;
                line-height: 10px;
            }
        }
    }

    .personal-account {
        margin-bottom: 30px;
    }

    .img--mobile-height-75 {
        height: 75px !important;
    }

    input[type=text], input[type=date], input[type=number] {
        height: 50px !important;
    }

    .dt-text--regular {
        font-size: 12px;
        font-family: $font-family-regular;
    }

    .dt-text-more {
        height: 70px;
        background-image: linear-gradient(to bottom, $color-black, transparent);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

@media (max-width: 991.98px) {
    .hr-light-gray {
        margin-top: 30px;
        background: #e7e7e7;
        height: 2px;
    }

    button {
        height: 50px !important;
    }

    .dt-label-input {
        font-size: 10px;
    }
}
