.dt-input {
  &:disabled {
    color: $color-black;
  }

  &::placeholder {
    color: rgba(34, 36, 37, 0.15);
  }

  &__label {
    font-size: 12px;
    font-family: $font-family-thin;
    margin-bottom: 11px;
  }

  &__wrapper {
    position: relative;
  }

  &__group {
    //padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: $color-light-gray;
    width: 100%;
    color: $color-black;
    font-size: 14px;
    height: 70px;
    padding: 26px 27px 26px 30px;

    & .dt-label {
      font-size: 12px;
      color: rgba(34, 36, 37, 0.4);
    }

    &-item {
      align-items: center;
      display: flex;
      position: relative;
      border-radius: 15px;
      flex-grow: 1;
      flex-shrink: 0;
      height: 100%;
      justify-content: center;
      min-height: 50px;
      min-width: 50px;
    }

    & .dt-input {
      background: transparent;
      border: none;
      font-size: 14px;
      font-family: $font-family-regular;
      width: 100%;

      &__icon {
        align-items: center;
        display: flex;
        position: absolute;
        width: 24px;
        height: 24px;
      }
    }
  }

  &__group, &__group-item {
    align-items: center;
    display: flex;
    position: relative;
  }
}